@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            DabbaWala <br />
            <span class="text-primary">Kitchen Near You</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            The dabbawalas constitute a lunchbox delivery and return system that delivers hot lunches
            from homes and restaurants to people at work in India The lunchboxes are picked up in the late
             morning, delivered predominantly using bicycles and railway trains,
            and returned empty in the afternoon.
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                

                @*input here first and last name*@
                 <div class="row">
                  <div class="col-md-6 mb-4">

                    <div class="form-floating">
                        <input id="FirstName" name ="FirstName" class="form-control" autocomplete="firstname" aria-required="true" />
                        <label asp-for="Input.FirstName"></label>
                        @*<span class="text-danger"></span>*@
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-floating">
                        <input id="LastName" name="LastName" class="form-control" autocomplete="lastname" aria-required="true" />
                        <label asp-for="Input.LastName"></label>
                        @*<span asp-validation-for="Input.LastName" class="text-danger"></span>*@
                    </div>
                  </div>
                </div>

                <!-- Email input -->
                <div class="form-floating mb-2">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <!-- Password input -->
                <div class="form-floating mb-2">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

                <!-- Checkbox -->
                @*<div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Subscribe to our newsletter
                  </label>
                </div>*@

                <br />
                
                <div class="form-floating">
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </div>
                <!-- Register buttons -->
                    <p>or sign up with:</p>
                <div class="text-center">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
             &nbsp;
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              &nbsp;
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              &nbsp;
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              &nbsp;
              <a href="">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
